<nav class="navbar navbar-expand-lg bg-body-tertiary p-4 fs-5">
  <div class="container-fluid">
    <a
      class="navbar-brand fw-bolder fs-3"
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <div class="d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active-link"
          >
            Register
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active-link"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">
            <i class="fa-solid fa-cart-shopping position-relative">
              @if (cartItems.length) {
              <span
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
              >
              </span>
              }
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 👉The [routerLinkActiveOptions]="{ exact: true }" attribute ensures that the active-link class is applied only when the route matches the routerLink exactly.

This prevents the active-link class from being applied to the Home link (or any other link) when navigating to other routes that don't match exactly. -->
