<div class="card" style="width: 25rem">
  @if (product.stock > 10) {
  <span class="badge rounded-pill text-bg-success">In stock</span>

  }@else if (product.stock <= 10) {
  <span class="badge rounded-pill text-bg-warning">Limited quantity</span>

  }@else {
  <span class="badge rounded-pill text-bg-danger">Out of stock</span>
  }
  <a
    class="text-decoration-none text-black"
    [routerLink]="['/product-details', product.id]"
  >
    <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title" />
  </a>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <a
        class="text-decoration-none text-black"
        [routerLink]="['/product-details', product.id]"
      >
        <h5 class="card-title">{{ product.title }}</h5>
      </a>
      <span class="fw-bold">${{ product.price }}</span>
    </div>
    <p class="fw-bold">
      @for (star of stars; track $index) { @if (star==1) {
      <i class="fa-solid fa-star text-success"></i>
      }@else if (star!==0) {
      <i class="fa-solid fa-star-half-stroke text-success"></i>
      }@else{<i class="fa-regular fa-star text-success"></i> } } (<span>{{
        product.reviews.length
      }}</span
      >)
    </p>
    <a
      routerLink="/cart"
      class="btn btn-outline-info text-black border-2 rounded-pill"
      >Add to cart</a
    >
  </div>
</div>
