<div class="card" style="width: 25rem">
  @if (product.stock > 10) {
  <span class="badge rounded-pill text-bg-success">In stock</span>

  }@else if (product.stock <= 10) {
  <span class="badge rounded-pill text-bg-warning">Limited quantity</span>

  }@else {
  <span class="badge rounded-pill text-bg-danger">Out of stock</span>
  }
  <a
    class="text-decoration-none text-black"
    [routerLink]="['/product-details', product.id]"
  >
    <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title" />
  </a>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <a
        class="text-decoration-none text-black"
        [routerLink]="['/product-details', product.id]"
      >
        <h5 class="card-title">{{ product.title }}</h5>
      </a>
      <span class="fw-bold">${{ product.price }}</span>
    </div>
    <p class="card-text fw-bold">Rate: {{ product.rating }} / 5.0</p>
    <a
      routerLink="/cart"
      class="btn btn-outline-info text-black border-2 rounded-pill"
      >Add to cart</a
    >
  </div>
</div>
