<div class="row align-items-center">
  <div class="col-5 text-center d-flex align-items-center">
    <div class="bg-secondary-subtle rounded-3">
      <img src="../../assets/1.png" alt="" />
    </div>
    <div class="ms-3 text-start">
      <h5>title</h5>
      <p>product code:</p>
    </div>
  </div>
  <div class="offset-2 col-3 text-center">
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-success fw-bold btn-lg">+</button>
      <p class="px-3 fw-bold mt-3 fs-4">5</p>
      <button type="button" class="btn btn-outline-secondary py-2 btn-lg">
        -
      </button>
    </div>
  </div>
  <div class="col-1 text-center">
    <button class="btn btn-outline-secondary border rounded-0" type="submit">
      x
    </button>
  </div>
  <div class="col-1 bg text-center">
    <h5>$price</h5>
  </div>
</div>
<hr />
