<div class="container w-75 mt-5">
  <div class="d-flex justify-content-between">
    <div class="w-50">
      <h1 class="mb-5">Register</h1>
      <form
        #registerForm="ngForm"
        (ngSubmit)="handleRegisterSubmit(registerForm)"
        class="w-100"
      >
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control w-100"
            id="exampleInputName1"
            aria-describedby="nameHelp"
            name="name"
            ngModel
            #name="ngModel"
            required
          />
          @if (name.invalid && name.touched) {
          <div id="nameHelp" class="form-text text-danger">
            @if (name.hasError('required')) {
            <small>required</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control w-100"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            ngModel
            #email="ngModel"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
          @if (email.invalid && email.touched) {
          <div id="emailHelp" class="form-text text-danger">
            @if (email.hasError('required')) {
            <small>required</small>
            } @if (email.hasError('pattern')) {
            <small>invalid email</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="exampleInputUserName1" class="form-label">UserName</label>
          <input
            type="text"
            class="form-control w-100"
            id="exampleInputuserName1"
            aria-describedby="userNameHelp"
            name="userName"
            ngModel
            #userName="ngModel"
            required
          />
          @if (userName.invalid && userName.touched) {
          <div id="userNameHelp" class="form-text text-danger">
            @if (userName.hasError('required')) {
            <small>required</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control w-100"
            id="exampleInputPassword1"
            name="password"
            ngModel
            #password="ngModel"
            required
          />
          @if (password.invalid && password.touched) {
          <div id="password" class="form-text text-danger">
            @if (password.hasError('required')) {
            <small>required</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="exampleInputConfirmPassword1" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control w-100"
            id="exampleInputConfirmPassword1"
            name="confirmPassword"
            ngModel
            #confirmPassword="ngModel"
            required
          />
          @if (confirmPassword.invalid && confirmPassword.touched) {
          <div id="confirmPassword" class="form-text text-danger">
            @if (confirmPassword.hasError('required')) {
            <small>required</small>
            }
          </div>
          }
        </div>

        @if (formError) {
        <div class="alert alert-danger mt-3">
          {{ formError }}
        </div>
        }

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      <div class="mt-4">
        <p>
          Already have account!
          <a routerLink="/login"><span>Login</span></a>
        </p>
      </div>
    </div>

    <img
      width="50%"
      src="../../assets/Sign up-bro.svg"
      alt="register illustration"
    />
  </div>
</div>
